
/*--------------------------------header----------------------------------*/
body {

  background-color:  #02010a;
  font-family: 'Dancing Script', cursive;
}

header {
  margin-top: 0%;
  background-color:#5b7989;
  width: 100%;
  top: 0;
  border-radius: 10px 10px  0 0 ;
  animation: slide 2s;

}
#contenido {
  margin: auto;
  width:900px;
  display: flex;
  flex-flow: row wrap;
}
.menu{
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.menu .logo h1 {
font-size: 5vh;
  color: #fff;
  vertical-align: top;
  text-align: center;
  text-shadow: 2px  2px  2px  #02010a;
}
.menu .enlaces {
  display: inline-block;
  text-align: center;
}
 .menu .enlaces a {
   color: #fff;
  font-size: 3vh;
   display: inline-block;
   padding: 0.5em;
   text-align: center;
 }
 .subrayado{
   text-decoration: none;
 }

 /*------------------Imagenes--------------------------------------*/
.cuerpo{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
 .cuerpo img {
   box-shadow: 2px 2px 2px #02010a;
   width: 100%;
 }
 figcaption a{
   color: #000;
   font-size: 1.3em;
   font-weight: bold;
 }
 /*--------------------------galeria--------------------------*/
 #galeria{
   width: 100%;

}
.container {
width: 100%;
background-color: #d5c75f;
padding: 10px;
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.container div{
width: 33.3%;
}

.elemento {
width: 90%;
display:block;
margin:20px auto ;
-webkit-box-shadow: 2px 2px 2px  #02010a ;
box-shadow: 2px 2px 2px  #02010a ;
}
.elemento1 {
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
 .elemento2, .elemento4, .elemento6{
   -webkit-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%);
 }
 .elemento3 {
   -webkit-filter: sepia(90%);
   -o-filter: sepia(90%);
   filter: sepia(90%);
 }


/*-------------------cuerpo--------------------------------------------*/
#img_central{
  width: 100%;
  background-color: #82c3a6;
}
#img_secundari_1{
  width: 50%;
  background-color: #d5c75f;
  text-align: center;
}
#img_secundari_2{
  width: 50%;
  background-color: #d5c75f;
  text-align: center;
}

#contacto, #terminos, #redes, #copy{
  width: 25%;
}


/*------------------------animaciones-----------------------------------------*/

#img_secundari_1 img:hover{
  box-shadow: 3px 2px 3px  #82c3a6;
  border: solid 2px #000;
  transition: all 1s;
  transform: rotate(10deg);
  animation-direction: reverse;
}
#img_secundari_2 img:hover{
  box-shadow: 3px 2px 3px #82c3a6;
  border: solid 2px #000;
  transition: all 1s;
  transform: translate(20px,-5px);
  animation-direction: reverse;
}
/*-----------------------footer------------------------------------------*/
.footer {
  background-color:#C6d5c5;
  width: 100%;
  top: 0;
  border-radius: 0 0 10px 10px;
  padding-bottom: 1em;
}
.part
{  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-weight: bold;

}
.part a i img {
  width: 1em;
}
#redes a {
  align-items: center;
  padding: 0.4em;
  color: #000;
  display:block;
  text-decoration: none ;
}
/*------------adactativo-------------------*/
@media screen and (max-width: 899px){

#contenido
	{
		width: 100%;
		margin: 0 auto;
	}
  header
	{
	width:100%;
	}
	.logo
	{
	width: 100%;
	}
	.enlaces
  {
	width: 100%;
	}
	#img_central
	{
	width: 100%;
	}
  #img_secundari_1
	{
	width: 100%;
	}
  #img_secundari_2
	{
	width: 100%;
	}
  #contacto
  {
  width: 100%;
  }
  #terminos
  {
  width: 100%;
  }
  #redes
  {
  width: 100%;
  }
  #copy
  {
  width: 100%;
  }
  .container div
  {
    width: 100%;
  }
}
/*------------------------efectos todo la pagina slide ---------------------*/
@-webkit-keyframes slide{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
